# --- For-Bot-Working --------- #
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
TgCrypto
pyromod
humanize
pymongo
motor
umongo
dnspython
marshmallow
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
